@model lab.Models.Product
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>Add Friend</h2>
@using (Html.BeginForm("EditProduct", "Products"))
{


    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Url)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Brand)
        @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Brand)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    @Html.HiddenFor(m => m.Id)
    <input type="button" class="btn btn-danger" value="Back" onclick="@("window.location.href='" + @Url.Action("Index", "Products") + "'");" />


}


